@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  position: relative; }

img {
  height: auto;
  width: auto;
  max-width: 3rem;
  max-height: 3rem; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.hamburger {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: none;
  cursor: pointer;
  color: #f7f6fa; }

.toggle {
  display: none; }
  .toggle:checked ~ .sidebar {
    display: block; }

.sidebar {
  background-color: #0D0D0D;
  flex: 0 0 22rem;
  font-size: 1.3rem;
  color: #64616B; }
  .sidebar .profile {
    margin: 3rem; }
    .sidebar .profile .profile-image {
      border-radius: 50%; }
    .sidebar .profile .profile_title {
      color: #f7f6fa;
      margin-top: .5rem; }
  .sidebar .menu__list .menu__item {
    padding: 0 3rem;
    margin-top: 2.2rem;
    border-left: .2rem solid #f7cbc7; }
    .sidebar .menu__list .menu__item .icon {
      margin-right: 1.5rem; }

@media screen and (max-width: 992px) {
  .sidebar {
    display: none; }
  .hamburger {
    display: block; } }

.content-area {
  background-color: #1E1C24;
  flex: 1;
  color: #ffffff; }
  .content-area .main-container {
    margin: 5rem auto;
    height: 60vh;
    max-width: 100rem;
    padding: 0 5rem; }
    .content-area .main-container .first-row {
      display: flex;
      justify-content: space-between; }
      .content-area .main-container .first-row .first__profile .first__profile--name {
        font-size: 2rem; }
      .content-area .main-container .first-row .first__profile .first__profile--account {
        color: #64616B; }
      .content-area .main-container .first-row .first__profile .first__profile--account-number {
        color: #f7cbc7; }
      .content-area .main-container .first-row .balance {
        border: .1rem solid #f7cbc7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .2rem 1rem; }
        .content-area .main-container .first-row .balance .balance--number {
          color: #f7cbc7; }
    .content-area .main-container .second-row {
      color: #64616B;
      font-size: 1.4rem;
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: .1rem solid #64616B; }
      .content-area .main-container .second-row .account__info {
        flex: 0 1 50rem; }
        .content-area .main-container .second-row .account__info .account__lists {
          display: flex;
          justify-content: space-between; }
      .content-area .main-container .second-row .buttons .withdraw--btn,
      .content-area .main-container .second-row .buttons .deposit--btn {
        border: none;
        padding: .5rem 1.5em;
        cursor: pointer; }
      .content-area .main-container .second-row .buttons .withdraw--btn {
        background-color: #64616B; }
      .content-area .main-container .second-row .buttons .deposit--btn {
        background-color: #f7cbc7; }
