@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  position: relative; }

img {
  height: auto;
  width: auto;
  max-width: 6rem;
  max-height: 6rem; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.buttons {
  border: none;
  padding: .5rem 1.5rem;
  cursor: pointer; }

.hamburger {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: none;
  cursor: pointer;
  color: #f7f6fa; }

.sidebar {
  background-color: #0D0D0D;
  width: 22rem;
  font-size: 1.3rem;
  color: #64616B; }
  .sidebar .profile {
    margin: 3rem; }
    .sidebar .profile .profile-image {
      border-radius: 50%;
      width: 3rem;
      height: 3rem; }
    .sidebar .profile .profile_title {
      color: #f7f6fa;
      margin-top: .5rem; }
  .sidebar .menu__list .menu__item {
    padding: 0 3rem;
    margin-top: 2.2rem; }
    .sidebar .menu__list .menu__item .icon {
      margin-right: 1.5rem; }

.toggle {
  display: none; }
  .toggle:checked ~ .sidebar {
    display: block;
    opacity: 1;
    transition: opacity .5s linear; }

@media screen and (max-width: 992px) {
  .sidebar {
    display: block;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 22rem;
    transition: opacity .5s linear; }
  .hamburger {
    display: block; } }

.content-area {
  background-color: #1E1C24;
  flex: 1;
  color: #ffffff; }
  .content-area .main-container {
    margin: 5rem auto;
    width: 80%;
    max-width: 100rem; }
    .content-area .main-container .first-row {
      display: flex;
      justify-content: space-between; }
      .content-area .main-container .first-row .first__profile .first__profile--name {
        font-size: 2rem; }
      .content-area .main-container .first-row .first__profile .first__profile--account {
        color: #64616B; }
      .content-area .main-container .first-row .first__profile .first__profile--account-number {
        color: #f7cbc7; }
      .content-area .main-container .first-row .balance {
        border: .1rem solid #f7cbc7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .2rem 1rem; }
        .content-area .main-container .first-row .balance .balance--number {
          color: #f7cbc7; }
    .content-area .main-container .second-row {
      color: #64616B;
      font-size: 1.4rem;
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: .1rem solid #64616B; }
      .content-area .main-container .second-row .account__info {
        flex: 0 1 50rem; }
        .content-area .main-container .second-row .account__info .account__lists {
          display: flex;
          justify-content: space-between; }
      .content-area .main-container .second-row .btn-container .withdraw--btn {
        background-color: #64616B; }
      .content-area .main-container .second-row .btn-container .deposit--btn {
        background-color: #f7cbc7; }

.edit-account {
  max-width: 24rem;
  margin: 2rem auto; }
  .edit-account .image-section {
    display: flex;
    align-items: flex-end; }
    .edit-account .image-section .edit--title {
      font-size: .9rem;
      color: #64616B;
      font-weight: 100; }
    .edit-account .image-section .edit--profile {
      border-radius: 50%;
      margin-top: 1rem; }
    .edit-account .image-section .edit--btn {
      background-color: #64616B;
      margin-left: 1rem; }

.form {
  margin-top: 1rem; }
  .form .firstname__input,
  .form .lastname__input,
  .form .email__input {
    display: flex;
    flex-direction: column;
    border-bottom: .1rem solid #64616B;
    margin-bottom: 2rem; }
    .form .firstname__input label,
    .form .lastname__input label,
    .form .email__input label {
      color: #64616B;
      font-size: .9rem; }
    .form .firstname__input input,
    .form .lastname__input input,
    .form .email__input input {
      background-color: transparent;
      border: none;
      color: #fff;
      outline: none; }
      .form .firstname__input input:active,
      .form .lastname__input input:active,
      .form .email__input input:active {
        outline: 1px solid red; }
  .form .save {
    width: 100%;
    background-color: #f7cbc7; }
