@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
$text_color: #ececec
$light_blue: #365ce7

*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: inherit

html
    font-size: 62.5%
    box-sizing: border-box

body
    background-color: #14161D
    //background-color: #1C1D21
    color: #4B4C54
    font-family: 'Poppins', sans-serif
    font-weight: 400
    line-height: 1.5
    display: flex
    flex-direction: column
    overflow-x: hidden
    min-height: 100vh

img
    display: block
    width: 100%

ul
    list-style: none

a
    color: inherit
    text-decoration: none

// ! HEADER 

.header__row
    background-color: #101218
    display: flex
    padding: 1rem 4rem
    align-items: center
    // justify-content: space-between

    .logo
        font-size: 1.8rem
        color: $light_blue

.nav
    display: flex
    flex: 1
.section
    display: flex
    position: relative
    flex: 0 0 50%
    justify-content: space-between

// ! SEARCH MOVIE INPUT
.input
    position: relative
    margin-left: 8rem

    .search--bar
        color: $text_color
        width: 22rem

        border: none
        border-bottom: .5px solid #1c1c24
        border-radius: 4px
        background-color: transparent
        padding: .5rem 3rem
        transition: width .2s linear

        // margin-right: 4rem
        outline: none

        &::placeholder
            color: $text_color
            opacity: .3

        // &:focus
        //     width: 22rem

    .search--icon
        position: absolute
        top: 28%
        left: 5%
// ! BROWSE CONTAINER
.browse__container
    align-items: center
    margin-left: 2rem
    flex: 0 0 5%
    display: none

// ! MOVIE LINKS 
.movie__genres
    font-size: 1.3rem
    display: flex

.movie__list
    margin-right: 2rem
    transition: all .3s ease-in

    &:hover
        color: $text_color

// ! TOGGLE 
.nav-toggle
    display: none
.nav-toggle:checked ~ .movie__genres
    display: flex
    flex-direction: column
    position: absolute
    top: 5rem
    background-color: #101218
    left: 0
    width: 30rem
    text-align: center

    .movie__list
        margin: 1rem auto

@media screen and ( max-width: 885px )
    .browse__container
        display: flex
        flex: 0 0 5rem

    .movie__genres
        display: none

.right__side
    display: flex
    justify-content: flex-end
    flex: 0 0 20%
    align-items: center
    position: relative
    margin-left: auto

    .user__profile
        flex: 0 0 3rem
        cursor: pointer

        .image

            border-radius: 50%
            margin-right: 1rem

        .user--name
            font-size: 1.3rem

.image__container
    width: 10rem
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.bottom_section
    display: flex
    margin: 2rem 4rem
    flex: 1

    .sidebar
        background-color: #14161D
        flex: 0 0 20rem
        padding: 1rem

        .sidebar--title,
        .menu__tv--title
            font-size: 1.4rem
            color: $light_blue
            opacity: .8

        .menu
            margin-top: 1rem
            font-size: 1.2rem

        .menu__list_item
            margin-top: 1rem
            transition: all .3s ease-in

            &:hover
                color: $text_color

        .menu__tv--title
            margin-top: 3rem 
    .right__section
        background-color: #14161D
        padding-top: 1rem
        flex: 1

        .hide__movies
             display: none
             //background-color: blue
             

        .tv-shows
            border-top: 1px solid $light_blue
            padding-top: 2rem 
        .movies

            .show
                 display: none
               
     
            .movies--title
                font-size: 1.8rem
                color: $text_color
                letter-spacing: .1rem
                display: inline-block
                margin-right: 2rem

            .movies__container,
            
                margin-top: 1rem
                display: grid
                // grid-template-columns: 25% 25% 25% 25%
                //grid-template-columns: 1fr 1fr 1fr 1fr
                grid-template-columns: repeat(5, 1fr)
                //grid-auto-rows: minmax(20rem, auto)
                //grid-template-rows: repeat(3, minmax(100px, auto))
                // grid-column-gap: 1rem
                // grid-row-gap: 1rem
                // we can use a combo of gap
                grid-gap: 1.5rem
            .movie

                //margin-top: 2rem
                // margin-right: 4rem

                .movie--title
                    color: $text_color
                    margin-top: .5rem
        
        .tv-shows
            margin-top: 4rem 
        

 


// MOVIE PAGE SECTION
.movie__section
    flex: 1
    
.movie__container
    color: $text_color
    display: flex
    margin-top: 5rem
    width: 70%
    max-width: 100rem
    margin: 5rem auto
    
    

    .image__section
        width: 60%

    .movie--image
        border-radius: .4rem
        
        
       


.movie__description
    width: 100%
    margin-right: 7rem 

    .movie__release
        margin-top: 2rem 

        .movie__title
            display: flex
            justify-content: space-between
            padding-right: 2rem 
            align-items: center 

            .movie--name
                font-size: 2rem 
           
        
        .movie__release--date    
            color: #4B4C54

    .movie__bio 
        margin-top: 2rem 
        font-size: 1.1rem 

        .movie__bio--text
            color: #cccccc


        .credit
            margin-top: 2rem
            display: flex
            flex-direction: column
            
   
    .star-vote
        font-size: 1.5rem
      
      
    .star
        color: yellow 
        padding-right: .5rem
    
        
    
    .video__section
        margin-top: 2rem

        .video--title
            font-size: 1rem
    
.footer
    display: flex 
    background-color: #1C1D21
    padding: 2rem 
    justify-content: center 
  
    
    .logo__image
        width: 20rem 