@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #F5F7FC; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.project--btn {
  padding: .7rem 1.5rem;
  background-color: #000;
  color: #fff; }

.fa-star {
  margin-right: .8rem; }

.project--email {
  padding: .8rem 1.1rem;
  background-color: #C3C7D1;
  border-radus: .4rem; }

.skills__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.skills--name {
  margin: .6rem;
  padding: .2rem .8rem;
  border-radius: .4rem;
  color: #939598;
  background-color: #FEDBDB; }

.container__top {
  background-color: #fff; }
  .container__top .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem 0;
    flex-wrap: wrap; }

.logo {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  align-items: center; }
  .logo .navbar--logo {
    width: 2.8rem;
    height: 2rem; }

.hamburger-icon {
  display: none; }

.nav-toggle {
  display: none; }
  .nav-toggle:checked ~ .menu__container {
    display: flex; }

.menu__container {
  flex: 11;
  display: flex;
  align-items: center; }
  .menu__container .menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: #C3C7D1; }
    .menu__container .menu .menu__list:first-of-type {
      color: #000; }
    .menu__container .menu .menu__list .menu__links:hover {
      color: #000;
      transition: all 0.5s; }

.profile {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .profile .search-container {
    position: relative; }
    .profile .search-container .search-icon {
      position: absolute;
      top: 0.8rem;
      margin-left: 1rem;
      color: #C3C7D1; }
    .profile .search-container .search-input {
      border-radius: 1rem;
      border: .1rem solid #f4f4f4;
      padding: .5rem 2.5rem;
      width: 15rem; }
      .profile .search-container .search-input::placeholder {
        padding-left: 1.8rem; }
  .profile .profile--notification {
    color: #fff;
    border: none;
    padding: .5rem 1rem;
    background-color: #4E9AFF;
    border-radius: 45%;
    margin: 0 1.5rem  0 2.5rem; }
  .profile .profile__image {
    max-width: 3rem; }
    .profile .profile__image .profile--image {
      border-radius: 50%;
      max-width: 100%; }

@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
    width: 100%; }
    .navbar .menu__container {
      display: none;
      position: absolute;
      margin-top: 1rem;
      padding: 1rem;
      top: 5rem;
      flex-direction: column-reverse;
      right: 0rem;
      background-color: #fff;
      border-radius: .4rem;
      max-width: 35rem; }
      .navbar .menu__container .menu {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .navbar .menu__container .menu .menu__list {
          padding: .5rem; }
          .navbar .menu__container .menu .menu__list:hover {
            background-color: #F5F7FC; }
          .navbar .menu__container .menu .menu__list:first-of-type {
            margin-top: 1rem; }
      .navbar .menu__container .profile {
        justify-content: space-between; }
    .navbar .logo {
      justify-content: space-between;
      flex: 1; }
    .navbar .hamburger-icon {
      display: block; } }

.container__bottom {
  width: 90%;
  max-width: 120rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between; }

.sidebar {
  flex: 1.5; }
  .sidebar .user__card,
  .sidebar .skills {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .8rem;
    flex-wrap: wrap; }
    .sidebar .user__card .user__star-rating,
    .sidebar .skills .user__star-rating {
      padding: 1rem;
      display: flex;
      justify-content: center; }
      .sidebar .user__card .user__star-rating .user--star,
      .sidebar .skills .user__star-rating .user--star {
        margin-right: .8rem;
        color: #EFD35B; }
      .sidebar .user__card .user__star-rating .star--title,
      .sidebar .skills .user__star-rating .star--title {
        color: #939598; }
    .sidebar .user__card .user__image-container .user--image,
    .sidebar .skills .user__image-container .user--image {
      max-width: 100%; }

.user__description {
  text-align: center; }
  .user__description .user--name {
    font-size: 1.7rem; }

.user__location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto; }
  .user__location .user--city,
  .user__location .user--age,
  .user__location .spacer {
    font-size: 1rem;
    font-weight: 100;
    color: #939598;
    padding: 0 .2rem; }
  .user__location .spacer {
    padding-bottom: .4rem; }

.project .project--btn,
.project .project--email {
  border-radius: .5rem;
  border: none; }

.project hr {
  width: 80%;
  margin: 0 auto;
  margin: 2rem auto;
  border: 0.1rem solid #C3C7D1; }

.availability {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF9B9B; }
  .availability .availability--status {
    margin-left: 1rem;
    font-weight: 500; }

.rate {
  color: #C3C7D1;
  padding: .2rem 0 1.5rem; }

.skills {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start; }
  .skills .skills--title {
    padding: .5rem; }
  .skills .skills--more {
    color: #939598; }

.content {
  flex: 4; }

.content {
  margin-left: 2rem;
  flex: 5; }
  .content .content__inside {
    padding: .5rem 2rem 4rem 2rem;
    border-radius: .8rem;
    background-color: #fff; }
    .content .content__inside .total {
      color: #939598;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      display: flex;
      align-items: center; }
      .content .content__inside .total .total--period {
        padding: 0 .4rem .4rem; }

.images-container {
  display: flex;
  flex-wrap: wrap; }
  .images-container .images--first-image {
    max-width: 100%;
    width: 15rem;
    object-fit: cover;
    border-radius: .4rem;
    margin-right: 1rem; }

.experience {
  display: flex;
  margin-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #C3C7D1; }
  .experience .experience__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 10%; }
    .experience .experience__section .experience--length {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: .5rem; }
    .experience .experience__section .experience--title {
      color: #939598; }

.bio {
  display: flex;
  margin-top: 2rem; }
  .bio .bio--text {
    flex: 2;
    color: #939598;
    font-size: 1.2rem; }
  .bio .physical__section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    flex: 1.3;
    border: none; }
    .bio .physical__section .physical--description {
      margin-bottom: 1rem; }
