@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #F5F7FC; }

img {
  width: 3rem;
  height: 3rem;
  max-width: 7rem; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.container__top {
  background-color: #fff; }
  .container__top .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem 0;
    flex-wrap: wrap; }

.logo {
  flex: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center; }
  .logo .navbar--logo {
    width: 2.8rem;
    height: 2rem; }

.hamburger-icon {
  display: none; }

.nav-toggle {
  display: none; }
  .nav-toggle:checked ~ .menu__container {
    display: flex; }

.menu__container {
  flex: 1;
  display: flex;
  align-items: center; }
  .menu__container .menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: #C3C7D1; }
    .menu__container .menu .menu__list:first-of-type {
      color: #000; }
    .menu__container .menu .menu__list .menu__links:hover {
      color: #000;
      transition: all 0.5s; }

.profile {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .profile .search-container {
    position: relative; }
    .profile .search-container .search-icon {
      position: absolute;
      top: 0.8rem;
      margin-left: 1rem;
      color: #C3C7D1; }
    .profile .search-container .search-input {
      border-radius: 1rem;
      border: .1rem solid #f4f4f4;
      padding: .5rem 2.5rem;
      width: 15rem; }
      .profile .search-container .search-input::placeholder {
        padding-left: 1.8rem; }
  .profile .profile--notification {
    color: #fff;
    border: none;
    padding: .5rem 1rem;
    background-color: #4E9AFF;
    border-radius: 45%;
    margin: 0 1.5rem  0 2.5rem; }
  .profile .profile--image {
    border-radius: 50%; }

@media screen and (max-width: 992px) {
  .navbar {
    position: relative; }
    .navbar .menu__container {
      display: none;
      position: absolute;
      margin-top: 1rem;
      padding: 1rem;
      top: 5rem;
      flex-direction: column-reverse;
      right: 0rem;
      background-color: #fff;
      border-radius: .4rem; }
      .navbar .menu__container .menu {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .navbar .menu__container .menu .menu__list {
          padding: .5rem; }
          .navbar .menu__container .menu .menu__list:hover {
            background-color: #F5F7FC; }
          .navbar .menu__container .menu .menu__list:first-of-type {
            margin-top: 1rem; }
    .navbar .logo {
      justify-content: space-between;
      flex: 1; }
    .navbar .hamburger-icon {
      display: block; } }
