*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #252646;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden; }

img {
  height: auto;
  width: auto;
  max-width: 3rem;
  max-height: 3rem; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.edit-container {
  color: #b0b2d3;
  max-width: 40rem;
  border-radius: .4rem;
  width: 38rem;
  box-shadow: .1rem .1rem .2rem .3rem #232444;
  position: relative; }
  .edit-container .first-section {
    background-color: #2A2B4F;
    padding: 2rem 4rem;
    font-size: 1.2rem;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem; }
    .edit-container .first-section .delete {
      position: absolute;
      top: 1rem;
      right: 2rem; }
  .edit-container .second-section {
    background-color: #2F3056; }
    .edit-container .second-section .form {
      padding: 4rem; }
      .edit-container .second-section .form label {
        letter-spacing: .3rem; }
      .edit-container .second-section .form .name-info {
        display: flex;
        flex-direction: column; }
      .edit-container .second-section .form input {
        background-color: transparent;
        color: #fff;
        padding: 1rem;
        border: .1rem solid #363761;
        margin: 0 1rem 2rem 0; }
      .edit-container .second-section .form .birthday-input {
        display: flex; }
        .edit-container .second-section .form .birthday-input input {
          overflow-x: hidden;
          margin-top: 1rem;
          margin-bottom: 0; }
          .edit-container .second-section .form .birthday-input input:focus {
            outline-color: #7B7BCA; }
  .edit-container .third-section {
    padding: 2rem 4rem;
    font-size: 1.2rem; }
    .edit-container .third-section .save-box--cancel,
    .edit-container .third-section .save-box--save {
      padding: 1rem 5rem;
      border: none;
      color: #fff;
      border-radius: .2rem;
      cursor: pointer; }
    .edit-container .third-section .save-box--cancel {
      background-color: #2A2B4F;
      margin-right: 1rem; }
    .edit-container .third-section .save-box--save {
      background-color: #F27362; }
