.content
    margin-left: 2rem
    border-radius: .8rem
    background-color: #fff
    flex: 5

    .content__inside
        margin: .5rem 2rem 0 2rem

        .total
            color: $dark_gray
            padding-bottom: 1rem
            font-size: 1.1rem
            display: flex
            align-items: center

            .total--period
                padding: 0 .4rem .4rem

.images-container
    display: flex
    flex-wrap: wrap

    .images--first-image
        max-width: 100%
        width: 15rem
        object-fit: cover
        border-radius: .4rem
        margin-right: 1rem

.experience
    display: flex
    margin-top: 3rem

    .experience__section,

        display: flex
        flex-direction: column
        justify-content: space-between
        flex: 0 0 10%

        .experience--length
            font-weight: bold
            font-size: 1.2rem
            margin-bottom: .5rem

        .experience--title
            color: $dark-gray
